In [252]:
import mysql.connector
import pandas as pd

In [253]:
import os

In [254]:

connection = mysql.connector.connect(
    host='localhost',   
    user='root',    
    password='root', 
    database='new_target2'  
)

In [255]:
cursor = connection.cursor()

In [256]:
def create_table_for_country(country):
    table_name = f'Table_{country}'
    
    
    create_table_query = f"""
    CREATE TABLE IF NOT EXISTS {table_name} (
        Customer_Name VARCHAR(255),
        Customer_Id VARCHAR(18),
        Open_Date DATE,
        Last_Consulted_Date DATE,
        Vaccination_Type CHAR(5),
        Doctor_Consulted CHAR(255),
        State CHAR(5),
        Country CHAR(5),
        Post_Code INT,
        Date_Of_Birth DATE,
        Active_Customer CHAR(1)
    );
    """
    
    cursor.execute(create_table_query)
    print(f"Table {table_name} created successfully!")

In [257]:
input_directory = r'C:\Users\Ashmit\Desktop\etlnew\country'

In [258]:
csv_files = [f for f in os.listdir() if f.endswith('.csv')]
os.listdir()

['.git',
 'country',
 'customers_data.csv',
 'database_con.ipynb',
 'database_entry.ipynb',
 'readme.md']

In [259]:
countries = set()

In [260]:
for csv_file in csv_files:
    
    df = pd.read_csv(csv_file, encoding='ISO-8859-1' )
    
    
    countries.update(df['Country'].unique())
    print(df)

       Customer_Name  Customer_Id   Open_Date Last_Consulted_Date  \
0      Emily Johnson       100001  2021-03-22          2024-10-08
1        Yuki Tanaka       100002  2022-02-28          2023-08-14
2       Hans Mueller       100003  2022-06-10          2023-09-18
3       Rajesh Kumar       100004  2022-01-15          2023-11-20
4   Elizabeth Taylor       100005  2021-09-05          2023-12-01
5     Sarah Thompson       100006  2021-11-11          2023-10-30
6        Taro Yamada       100007  2022-04-03          2023-09-22
7      Michael Brown       100008  2021-07-19          2023-11-15
8       Anna Schmidt       100009  2022-05-28          2023-10-12
9        Priya Patel       100010  2021-12-07          2023-08-30
10      James Wilson       100011  2022-02-14          2023-09-28
11        Emma White       100012  2021-10-20          2023-12-05
12    Hiroshi Suzuki       100013  2022-03-11          2023-11-02
13      Jennifer Lee       100014  2021-08-25          2023-10-18
14     Thomas Becker       100015  2022-01-30          2023-09-07
15       Amit Sharma       100016  2021-06-12          2023-11-25
16      Oliver Brown       100017  2022-04-19          2023-10-08
17     Sophie Martin       100018  2021-09-30          2023-12-12
18    Kenji Nakamura       100019  2022-02-07          2023-09-14
19   Samantha Miller       100020  2021-11-05          2023-08-22
20      Klaus Wagner       100021  2022-05-14          2023-10-28
21      Ananya Reddy       100022  2021-08-09          2023-11-17
22     George Parker       100023  2022-01-23          2023-09-03
23         Lucy Chen       100024  2021-10-07          2023-12-19
24      Takashi Sato       100025  2022-03-18          2023-08-27
25    Jessica Taylor       100026  2021-07-02          2023-11-09
26     Markus Schulz       100027  2022-04-25          2023-10-14
27        Neha Gupta       100028  2021-12-30          2023-09-25
28    William Hughes       100029  2022-02-11          2023-12-07
29      Olivia Green       100030  2021-09-16          2023-08-19

   Vaccination_Type Doctor_Consulted State Country  Post_Code Date_of_Birth  \
0             PFIZR        Dr. Smith    LN      UK      90210    1990-08-15
1             MDRNA     Dr. Yamamoto   TKY     JPN     100001    1995-07-07
2             ASTRZ      Dr. Schmidt    BY     GER      80331    1978-11-30
3             COVAX        Dr. Patel    MH     IND     400001    1985-05-10
4             ASTRZ        Dr. Jones   LDN      UK      12345    1982-04-22
5             PFIZR        Dr. Brown   NSW     AUS       2000    1988-09-25
6             MDRNA         Dr. Sato   OSA     JPN     530001    1992-12-18
7             PFIZR      Dr. Johnson    NY     USA      10001    1987-03-30
8             ASTRZ        Dr. Weber    HE     GER      60313    1993-06-05
9             COVAX       Dr. Sharma    GJ     IND     380001    1989-11-22
10            ASTRZ       Dr. Taylor   MAN      UK      56789    1984-01-15
11            PFIZR        Dr. Davis   VIC     AUS       3000    1991-07-08
12            MDRNA       Dr. Tanaka   KAN     JPN     220001    1986-09-14
13            PFIZR     Dr. Anderson    TX     USA      75001    1994-04-27
14            ASTRZ       Dr. MÃ¼ller    NW     GER      40213    1980-12-03
15            COVAX        Dr. Gupta    DL     IND     110001    1989-02-18
16            ASTRZ     Dr. Williams   ESS      UK      34567    1993-08-11
17            PFIZR       Dr. Wilson   QLD     AUS       4000    1987-05-29
18            MDRNA          Dr. Ito   FUK     JPN     810001    1991-11-03
19            PFIZR        Dr. Davis    FL     USA      33101    1986-07-16
20            ASTRZ        Dr. Bauer    BW     GER      70173    1992-03-25
21            COVAX          Dr. Rao    TN     IND     600001    1988-12-30
22            ASTRZ       Dr. Harris   YOR      UK      78901    1983-06-14
23            PFIZR     Dr. Thompson    SA     AUS       5000    1995-01-22
24            MDRNA     Dr. Nakamura   HKD     JPN      60001    1990-10-05
25            PFIZR       Dr. Wilson    IL     USA      60601    1987-04-18
26            ASTRZ     Dr. Hoffmann    BE     GER      10115    1981-09-09
27            COVAX       Dr. Chopra    KA     IND     560001    1993-07-12
28            ASTRZ        Dr. Evans   WAL      UK      23456    1986-11-28
29            PFIZR        Dr. Clark    WA     AUS       6000    1992-05-03

   Active_Customer
0                Y
1                Y
2                Y
3                Y
4                Y
5                Y
6                Y
7                Y
8                Y
9                Y
10               Y
11               Y
12               Y
13               Y
14               Y
15               Y
16               Y
17               Y
18               Y
19               Y
20               Y
21               Y
22               Y
23               Y
24               Y
25               Y
26               Y
27               Y
28               Y
29               Y

In [261]:
for country in countries:
    create_table_for_country(country)

Table Table_JPN created successfully!
Table Table_UK created successfully!
Table Table_IND created successfully!
Table Table_AUS created successfully!
Table Table_USA created successfully!
Table Table_GER created successfully!

In [262]:
connection.commit()

In [263]:
# import os
# import pandas as pd

# def insert_data_from_csv(country, input_directory):
#     
#     file_pattern = f'customers_{country}_*.csv'  
#     matching_files = [f for f in os.listdir(input_directory) if f.startswith(f'customers_{country}_') and f.endswith('.csv')]
    
#    
#     if not matching_files:
#         print(f"No files found for country: {country}")
#         return

#     for csv_file in matching_files:
#         
#         full_csv_path = os.path.join(input_directory, csv_file)
        
#        
#         df = pd.read_csv(full_csv_path)

#         
#         for index, row in df.iterrows():
#             insert_query = f"""
#             INSERT INTO Table_{country} (Customer_Name, Customer_ID, Open_Date, Last_Consulted_Date, Vaccination_Type, 
#                                           Doctor_Consulted, State, Country, Post_Code, Date_Of_Birth, Active_Customer)
#             VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s);
#             """

#             
#             cursor.execute(insert_query, tuple(row))
#         print(f"Data from {full_csv_path} inserted into Table_{country}.")

In [264]:
# def insert_or_update_data_from_csv(country, input_directory):
#     file_pattern = f'customers_{country}_*.csv'  
#     matching_files = [f for f in os.listdir(input_directory) if f.startswith(f'customers_{country}_') and f.endswith('.csv')]
    
#     if not matching_files:
#         print(f"No files found for country: {country}")
#         return

#     for csv_file in matching_files:
#         full_csv_path = os.path.join(input_directory, csv_file)
        
#         df = pd.read_csv(full_csv_path)

#         print("Column names in CSV file:", df.columns.tolist())
        
#         # Strip whitespace from column names
#         df.columns = df.columns.str.strip()
        
#         if 'Customer_Id' not in df.columns:
#             print(f"'Customer_Id' column not found in {csv_file}. Please check the file.")
#             return

#         for index, row in df.iterrows():
#             Customer_Id = row['Customer_Id']  
            
#             try:
#                 check_query = f"""
#                 SELECT Country FROM Table_{country} WHERE Customer_Id = %s;
#                 """
#                 cursor.execute(check_query, (Customer_Id,))
#                 result = cursor.fetchone()

#                 if result:
#                     current_country = result[0]

#                     if current_country != country:
#                         # Insert the new record into the new country's table
#                         insert_query = f"""
#                         INSERT INTO Table_{country} (Customer_Name, Customer_Id, Open_Date, Last_Consulted_Date, Vaccination_Type, 
#                                                       Doctor_Consulted, State, Country, Post_Code, Date_Of_Birth, Active_Customer)
#                         VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s);
#                         """
#                         cursor.execute(insert_query, tuple(row))
#                         print(f"Moved Customer_Id: {Customer_Id} to Table_{country}.")

#                         # Delete the record from the current country's table
#                         delete_query = f"""
#                         DELETE FROM Table_{current_country} WHERE Customer_Id = %s;
#                         """
#                         cursor.execute(delete_query, (Customer_Id,))
#                         print(f"Deleted Customer_Id: {Customer_Id} from Table_{current_country}.")
#                     else:
#                         # Update the last consulted date if the country hasn't changed
#                         update_query = f"""
#                         UPDATE Table_{country}
#                         SET Last_Consulted_Date = %s
#                         WHERE Customer_Id = %s;
#                         """
#                         cursor.execute(update_query, (row['Last_Consulted_Date'], Customer_Id))
#                         print(f"Updated Last_Consulted_Date for Customer_Id: {Customer_Id} in Table_{country}.")
#                 else:
#                     # Insert new record if it doesn't exist
#                     insert_query = f"""
#                     INSERT INTO Table_{country} (Customer_Name, Customer_Id, Open_Date, Last_Consulted_Date, Vaccination_Type, 
#                                                   Doctor_Consulted, State, Country, Post_Code, Date_Of_Birth, Active_Customer)
#                     VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s);
#                     """
#                     cursor.execute(insert_query, tuple(row))
#                     print(f"Inserted new record for Customer_Id: {Customer_Id} in Table_{country}.")
#             except Exception as e:
#                 print(f"Error processing Customer_Id: {Customer_Id} - {e}")

In [265]:
# for country in countries:
#     insert_or_update_data_from_csv(country, input_directory)

In [266]:


# def insert_data_from_csv(country, input_directory):
#     file_pattern = f'customers_{country}_*.csv'
#     matching_files = [f for f in os.listdir(input_directory) if f.startswith(f'customers_{country}_') and f.endswith('.csv')]

#     if not matching_files:
#         print(f"No files found for country: {country}")
#         return

#     for csv_file in matching_files:
#         full_csv_path = os.path.join(input_directory, csv_file)
#         df = pd.read_csv(full_csv_path)

#         for index, row in df.iterrows():
#             Customer_Id = row['Customer_Id']

            
#             check_query = f"SELECT Country FROM Customers WHERE Customer_Id = %s;"
#             cursor.execute(check_query, (Customer_Id,))
#             existing_record = cursor.fetchone()

#             if existing_record:
#                 current_country = existing_record[0]

                
#                 if current_country != country:
                    
#                     insert_query = f"""
#                     INSERT INTO Table_{country} (Customer_Name, Customer_Id, Open_Date, Last_Consulted_Date, Vaccination_Type,
#                                                   Doctor_Consulted, State, Country, Post_Code, Date_Of_Birth, Active_Customer)
#                     VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s);
#                     """
#                     cursor.execute(insert_query, tuple(row))
#                     print(f"Moved Customer_Id: {Customer_Id} to Table_{country}.")

                    
#                     delete_query = f"DELETE FROM Table_{current_country} WHERE Customer_Id = %s;"
#                     cursor.execute(delete_query, (Customer_Id,))
#                     print(f"Deleted Customer_Id: {Customer_Id} from Table_{current_country}.")
#                 else:
                    
#                     update_query = f"""
#                     UPDATE Table_{country}
#                     SET Last_Consulted_Date = %s
#                     WHERE Customer_Id = %s;
#                     """
#                     cursor.execute(update_query, (row['Last_Consulted_Date'], Customer_Id))
#                     print(f"Updated Last_Consulted_Date for Customer_Id: {Customer_Id} in Table_{country}.")
#             else:
                
#                 insert_query = f"""
#                 INSERT INTO Table_{country} (Customer_Name, Customer_Id, Open_Date, Last_Consulted_Date, Vaccination_Type,
#                                               Doctor_Consulted, State, Country, Post_Code, Date_Of_Birth, Active_Customer)
#                 VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s);
#                 """
#                 cursor.execute(insert_query, tuple(row))
#                 print(f"Inserted new record for Customer_Id: {Customer_Id} in Table_{country}.")

#     connection.commit()

In [268]:
def insert_data_from_csv(country, input_directory):
    file_pattern = f'customers_{country}_*.csv' 
    matching_files = [f for f in os.listdir(input_directory) if f.startswith(f'customers_{country}_') and f.endswith('.csv')]
    
    if not matching_files:
        print(f"No files found for country: {country}")
        return

    for csv_file in matching_files:
        full_csv_path = os.path.join(input_directory, csv_file)
        df = pd.read_csv(full_csv_path)

        for index, row in df.iterrows():
            Customer_Id = row['Customer_Id']  

            check_query = f"""
            SELECT * FROM Table_{country} WHERE Customer_Id = %s;
            """
            cursor.execute(check_query, (Customer_Id,))
            existing_record = cursor.fetchone()

            if existing_record:
                update_query = f"""
                UPDATE Table_{country}
                SET Last_Consulted_Date = %s
                WHERE Customer_Id = %s;
                """
                cursor.execute(update_query, (row['Last_Consulted_Date'], Customer_Id))
                print(f"Updated Last_Consulted_Date for Customer_Id: {Customer_Id} in Table_{country}.")
            else:
                insert_query = f"""
                INSERT INTO Table_{country} (Customer_Name, Customer_Id, Open_Date, Last_Consulted_Date, Vaccination_Type, 
                                              Doctor_Consulted, State, Country, Post_Code, Date_Of_Birth, Active_Customer)
                VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s);
                """
                cursor.execute(insert_query, tuple(row))
                print(f"Inserted new record for Customer_Id: {Customer_Id} in Table_{country}.")
    
    connection.commit()

In [269]:
for country in countries:
    insert_data_from_csv(country, input_directory)

Updated Last_Consulted_Date for Customer_Id: 100002 in Table_JPN.
Updated Last_Consulted_Date for Customer_Id: 100007 in Table_JPN.
Updated Last_Consulted_Date for Customer_Id: 100013 in Table_JPN.
Updated Last_Consulted_Date for Customer_Id: 100019 in Table_JPN.
Updated Last_Consulted_Date for Customer_Id: 100025 in Table_JPN.
Updated Last_Consulted_Date for Customer_Id: 100002 in Table_JPN.
Updated Last_Consulted_Date for Customer_Id: 100007 in Table_JPN.
Updated Last_Consulted_Date for Customer_Id: 100013 in Table_JPN.
Updated Last_Consulted_Date for Customer_Id: 100019 in Table_JPN.
Updated Last_Consulted_Date for Customer_Id: 100025 in Table_JPN.
Updated Last_Consulted_Date for Customer_Id: 100002 in Table_JPN.
Updated Last_Consulted_Date for Customer_Id: 100007 in Table_JPN.
Updated Last_Consulted_Date for Customer_Id: 100013 in Table_JPN.
Updated Last_Consulted_Date for Customer_Id: 100019 in Table_JPN.
Updated Last_Consulted_Date for Customer_Id: 100025 in Table_JPN.
Updated Last_Consulted_Date for Customer_Id: 100005 in Table_UK.
Updated Last_Consulted_Date for Customer_Id: 100011 in Table_UK.
Updated Last_Consulted_Date for Customer_Id: 100017 in Table_UK.
Updated Last_Consulted_Date for Customer_Id: 100023 in Table_UK.
Updated Last_Consulted_Date for Customer_Id: 100029 in Table_UK.
Updated Last_Consulted_Date for Customer_Id: 100005 in Table_UK.
Updated Last_Consulted_Date for Customer_Id: 100011 in Table_UK.
Updated Last_Consulted_Date for Customer_Id: 100017 in Table_UK.
Updated Last_Consulted_Date for Customer_Id: 100023 in Table_UK.
Updated Last_Consulted_Date for Customer_Id: 100029 in Table_UK.
Inserted new record for Customer_Id: 100001 in Table_UK.
Updated Last_Consulted_Date for Customer_Id: 100005 in Table_UK.
Updated Last_Consulted_Date for Customer_Id: 100011 in Table_UK.
Updated Last_Consulted_Date for Customer_Id: 100017 in Table_UK.
Updated Last_Consulted_Date for Customer_Id: 100023 in Table_UK.
Updated Last_Consulted_Date for Customer_Id: 100029 in Table_UK.
Updated Last_Consulted_Date for Customer_Id: 100004 in Table_IND.
Updated Last_Consulted_Date for Customer_Id: 100010 in Table_IND.
Updated Last_Consulted_Date for Customer_Id: 100016 in Table_IND.
Updated Last_Consulted_Date for Customer_Id: 100022 in Table_IND.
Updated Last_Consulted_Date for Customer_Id: 100028 in Table_IND.
Updated Last_Consulted_Date for Customer_Id: 100004 in Table_IND.
Updated Last_Consulted_Date for Customer_Id: 100010 in Table_IND.
Updated Last_Consulted_Date for Customer_Id: 100016 in Table_IND.
Updated Last_Consulted_Date for Customer_Id: 100022 in Table_IND.
Updated Last_Consulted_Date for Customer_Id: 100028 in Table_IND.
Updated Last_Consulted_Date for Customer_Id: 100004 in Table_IND.
Updated Last_Consulted_Date for Customer_Id: 100010 in Table_IND.
Updated Last_Consulted_Date for Customer_Id: 100016 in Table_IND.
Updated Last_Consulted_Date for Customer_Id: 100022 in Table_IND.
Updated Last_Consulted_Date for Customer_Id: 100028 in Table_IND.
Updated Last_Consulted_Date for Customer_Id: 100006 in Table_AUS.
Updated Last_Consulted_Date for Customer_Id: 100012 in Table_AUS.
Updated Last_Consulted_Date for Customer_Id: 100018 in Table_AUS.
Updated Last_Consulted_Date for Customer_Id: 100024 in Table_AUS.
Updated Last_Consulted_Date for Customer_Id: 100030 in Table_AUS.
Updated Last_Consulted_Date for Customer_Id: 100006 in Table_AUS.
Updated Last_Consulted_Date for Customer_Id: 100012 in Table_AUS.
Updated Last_Consulted_Date for Customer_Id: 100018 in Table_AUS.
Updated Last_Consulted_Date for Customer_Id: 100024 in Table_AUS.
Updated Last_Consulted_Date for Customer_Id: 100030 in Table_AUS.
Updated Last_Consulted_Date for Customer_Id: 100006 in Table_AUS.
Updated Last_Consulted_Date for Customer_Id: 100012 in Table_AUS.
Updated Last_Consulted_Date for Customer_Id: 100018 in Table_AUS.
Updated Last_Consulted_Date for Customer_Id: 100024 in Table_AUS.
Updated Last_Consulted_Date for Customer_Id: 100030 in Table_AUS.
Updated Last_Consulted_Date for Customer_Id: 100001 in Table_USA.
Updated Last_Consulted_Date for Customer_Id: 100008 in Table_USA.
Updated Last_Consulted_Date for Customer_Id: 100014 in Table_USA.
Updated Last_Consulted_Date for Customer_Id: 100020 in Table_USA.
Updated Last_Consulted_Date for Customer_Id: 100026 in Table_USA.
Updated Last_Consulted_Date for Customer_Id: 100001 in Table_USA.
Updated Last_Consulted_Date for Customer_Id: 100008 in Table_USA.
Updated Last_Consulted_Date for Customer_Id: 100014 in Table_USA.
Updated Last_Consulted_Date for Customer_Id: 100020 in Table_USA.
Updated Last_Consulted_Date for Customer_Id: 100026 in Table_USA.
Updated Last_Consulted_Date for Customer_Id: 100008 in Table_USA.
Updated Last_Consulted_Date for Customer_Id: 100014 in Table_USA.
Updated Last_Consulted_Date for Customer_Id: 100020 in Table_USA.
Updated Last_Consulted_Date for Customer_Id: 100026 in Table_USA.
Updated Last_Consulted_Date for Customer_Id: 100003 in Table_GER.
Updated Last_Consulted_Date for Customer_Id: 100009 in Table_GER.
Updated Last_Consulted_Date for Customer_Id: 100015 in Table_GER.
Updated Last_Consulted_Date for Customer_Id: 100021 in Table_GER.
Updated Last_Consulted_Date for Customer_Id: 100027 in Table_GER.
Updated Last_Consulted_Date for Customer_Id: 100003 in Table_GER.
Updated Last_Consulted_Date for Customer_Id: 100009 in Table_GER.
Updated Last_Consulted_Date for Customer_Id: 100015 in Table_GER.
Updated Last_Consulted_Date for Customer_Id: 100021 in Table_GER.
Updated Last_Consulted_Date for Customer_Id: 100027 in Table_GER.
Updated Last_Consulted_Date for Customer_Id: 100003 in Table_GER.
Updated Last_Consulted_Date for Customer_Id: 100009 in Table_GER.
Updated Last_Consulted_Date for Customer_Id: 100015 in Table_GER.
Updated Last_Consulted_Date for Customer_Id: 100021 in Table_GER.
Updated Last_Consulted_Date for Customer_Id: 100027 in Table_GER.